<footer class="container">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Alguma coisa escrita aqui.</p>
        </section>
    </div>

    <address>
        <h2 class="footer__title">contato</h2>
        <ul>
            <li>sidneybritomal@gmail.com</li>
            <li>81997445919</li>
            <li>81997445919</li>
        </ul>
    </address>
    <section class="footer_copyright">
        &copy; todos os direitos reservados.
    </section>
</footer>