<h2 class="cart-title">Carrinho</h2>
<div class="container" *ngIf="itensCarrinho.length > 0; else semProduto">
    <ul class="">
        <li *ngFor="let item of itensCarrinho">
            <img [src]="item.imagem">
            <p>{{ item.descricao }}</p>
            <p>{{ item.preco | currency: 'BRL'}}</p>
            <label>
                Quantidade.:
                <input type="number" [(ngModel)]="item.quantidade" (change)="calculaTotal()">
            </label>
            <button class="btn btn-danger" (click)="removeProdutoCarrinhho(item.id)">Excluir
            </button>
        </li>
    </ul>

    <div class="input-group">
        <div class="input-goup-btn col-md-2">
            <h2 class="btn btn-primary">Total.: {{ total | currency: 'BRL'}}</h2>
            <button class="btn btn-success" (click)="comprar()">Comprar do carrinho</button>
        </div>
    </div>
</div>




<ng-template #semProduto>
    Nenhum produto no carrinho
</ng-template>